<nav class="navbar navbar-light" style="background-color: #fcad58;">
    <div class="container-fluid">
      <a class="navbar-brand fs-4" href="/" style="color:#ffffff;">MealDB</a>
    </div>
  </nav>